<div class="componentContainer">
  <div class="registerContainer">
    <h4 class="register-header">Register for HabitTracker</h4>
    <div class="register-card">
      <form
        [formGroup]="validateForm"
        class="register-form"
        (ngSubmit)="submitForm()"
      >
        <div class="form-field">
          <label for="username">Username:</label>
          <input id="username" formControlName="username" />
        </div>
        <div class="form-field">
          <label for="password">Password:</label>
          <input id="password" type="password" formControlName="password" />
        </div>
        <div>
          <button type="submit" [disabled]="validateForm.invalid">
            Register
          </button>
        </div>
      </form>
      <div class="goToLoginContianer">
        <p>Already have an account?</p>
        <button (click)="goToLogin()">Login</button>
      </div>
    </div>
  </div>
</div>
